// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;

    h3 {
      margin-top: -10px;
      margin-left: 10px;
      margin-bottom: 20px;
    }
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.taskList {
	position: relative;
	margin-top: -10px;
}
	
.taskContainer {
	margin-bottom: 10px;
	padding: 10px;
	background: #BADA55;
	border: 1px solid gray;
  box-shadow: 3px 3px 5px #888888;
	border-radius: 10px;
	list-style: none;
}

.toDoTaskContainer {
  @extend .taskContainer;
  background: #BADA55;
}

.doneTaskContainer {
  @extend .taskContainer;
  background: #A1BED0;
}

.emptyTaskContainer {
  @extend .taskContainer;
	background: #D9EAA0;
}

.doneCheckBox {
	float: left;
	height: 25px;
} 

#formFields {
  border-radius: 10px;
  height: 40px;
  line-height: 30px;
}

#taskDescription {
  @extend #formFields;
	width: 335px;
}

#taskDateDeadline {
  @extend #formFields;
	width: 140px;
}

#taskTimeDeadline {
  @extend #formFields;
	width: 110px;
}

#taskSubmit {
	border-radius: 3px;
	height: 40px;
	width: 100px;
}

.minwidth { 
  min-width:100px; 
  width: auto !important; 
  width: 100px; 
}